<md-dialog aria-label="Room Select Dialog" class="room-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Available Rooms</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="getRooms()">
                    <md-icon aria-label="Refresh Rooms">refresh</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon aria-label="Close Dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content>
                <md-tabs md-selected="tabs.selectedIndex" md-stretch-tabs="always" md-dynamic-height="false"
                         md-swipe-content="true">
                    <md-tab>
                        <md-tab-label>Choose Room</md-tab-label>
                        <md-tab-body>
                            <md-radio-group>
                                <md-radio-button ng-repeat="room in rooms" ng-value="room.id">
                                    {{ room.name }}
                                </md-radio-button>
                            </md-radio-group>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>Create New Room</md-tab-label>
                        <md-tab-body>
                            <form>
                                <div flex layout="column" layout-padding="" layout="row" layout-align="center center">
                                    <div layout="row" layout-align="center">
                                        <md-input-container>
                                            <label>Name</label>
                                            <input required ng-model="currentRoom.name">
                                        </md-input-container>
                                        <md-button class="md-primary" ng-click="createRoom()">
                                            Submit
                                        </md-button>
                                    </div>
                                </div>
                            </form>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>