<div ng-controller="markerDebugController" layout="row">
    <!-- <leaflet center="london" markers="markers" height="480px" width="100%"></leaflet> EVENTS WILL STILL FIRE but all will for each directive-->
    <!-- NOTICE events attribute is optional it is more for options in whitelisting (enable), blacklisting (disable), and logic (emit or broadcast)  -->
    <!--<leaflet center="london" event-broadcast="events" markers="markers" height="480px" width="100%"></leaflet>-->
    <md-content flex="33" offset="33" layout-padding>
        <md-card>
            <md-card-content>
                <h1>Markers simple example</h1>
                <div ng-repeat="(markerName, marker) in markers">
                    <md-list>
                        <md-list-item layout-align="center">
                            <div class="md-list-item-text"><p>{{markerName}}</p></div>
                            <div class="md-list-item-text">
                                <md-input-container>
                                    <label>Latitude</label>
                                    <input ng-model="marker.lat" type="number">
                                </md-input-container>
                            </div>
                            <div class="md-list-item-text">
                                <md-input-container>
                                    <label>Longitude</label>
                                    <input ng-model="marker.lng" type="number">
                                </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>