<div ng-controller="markerDebugController">
    <!-- <leaflet center="london" markers="markers" height="480px" width="100%"></leaflet> EVENTS WILL STILL FIRE but all will for each directive--> 
    <!-- NOTICE events attribute is optional it is more for options in whitelisting (enable), blacklisting (disable), and logic (emit or broadcast)  -->
    <!--<leaflet center="london" event-broadcast="events" markers="markers" height="480px" width="100%"></leaflet>-->
    <h1>Markers simple example</h1>
	<div ng-repeat="(markerName, marker) in markers">
	<div class="row">
	 <div class="col s2 offset-s2"><p>{{markerName}}</p></div>
	 <div class="col s3"><input ng-model="marker.lat" type="number"></div>
	 <div class="col s3"><input ng-model="marker.lng" type="number"></div>
    </div>
	</div>
  </body>